@charset "utf-8";
@charset "utf-8";
/* CSS Document */
*,html{
margin:0;
padding:0;
font-family: 'Source Sans Pro', sans-serif;
font-size:20px;


}
body{
background-color:#F1F1F1;
	
}
#main_box{
width:1280px;
height:2100px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
z-index:0;
}
#main_title{

	width:100%;
	height:40px;
	background-color:#333;
	color:#FFF;
	position:relative;
	line-height:40px;	
}
#main_title>a{
margin-left:11px ;
font-size:13px;	
}
#main_title>div{
position:absolute;
width:100px;
height:40px;
right:200px;
top:0;
text-align:center;
line-height:40px;	
cursor:pointer;
}

.login_box{
position:absolute;
width:300px ;
height:350px;
top 0;
left:0;
z-index:-999;	
	
}	


#main_title>div:hover .login_box{
background-color:#FFF;
z-index:999;	
border:1px solid #606;
}
#main_title>div:hover {

z-index:999;	
}

header{
width:100%;
height:100px;
background-color:#FFF;
position:relative;
}
.logo{
position:absolute;
width:200px;
	
left:15px;

bottom:-20px;	
}

.search_box{
position:absolute;
top:20px;
right:500px;
width:500px;
height:50px;
text-align:center;
background-color:#F1F1F1;
border-radius:5px;
line-height:46px;

}
#search{

height:30px;	
width:300px;
border-radius:5px 0 0 5px;
font-size:15px;
padding-left:20px;
border:none;
outline:none;
vertical-align:middle;
}
#button_search{
border:none;	
vertical-align:middle;
height:30px;
width:70px;
margin-left:-5px;
border-radius:0 5px 5px 0;
background-color:#fff;
outline:none;
cursor:pointer;

}
#button_search:active{
background-color:#F1F1F1;	
}
.introduce{
width:100%;
height:500px;

position:relative;	
z-index:0;
	
}
.cart{
position:absolute;	
	right:350px;
	top:21px;
	border:1px solid #CCC;
	width:111px;
	height:47px;
	line-height:50px;
	text-align:center;
	border-radius:4px;
	cursor:pointer;
	
}
.cart:hover{
border:1px solid #003;
}
.introduce img {
width:100%;
height:500px;
position:absolute;
animation-name:change;
animation-duration:15s;
animation-iteration-count:infinite;

}
#img1{
	animation-delay:12s;
}
#img2{
	animation-delay:9s;
}
#img3{
	animation-delay:6s;
}
#img4{
	animation-delay:3s;
}
#img5{
	animation-delay:0s;
}

@keyframes change{
		0%{
			opacity:0;	
		}
		6.66%{opacity:1;
		}
		20%{opacity:1;
		}
		26.67%{opacity:0;
		}		
		100%{opacity:0;
		}
}
.detail{
	width:100%;
	height:40px;
	background-color:#FFFFFF;
	margin-bottom:2px;
	z-index:0;
	

}
.detail ul{
width:80%;
height:40px;
float:right;

}
.detail_menu a{
text-decoration:none;
color:#000;	

}
.detail_menu{
display:inline-block;
width:120px;
height:40px;
smoothing: antialiased;
font-family: 'Source Sans Pro', sans-serif;
text-align:center;
line-height:40px;
font-size:20px;
cursor:pointer;

margin-left:10px;	
position:relative;

}
.detail_menu a{
width:120px;
height:40px;
line-height:40px;	
}
.xoay{
	transition:all 0.5s;
	transform:rotate(0);
	margin-left:5px;
}
.detail_menu:hover .xoay{
	transition:all 0.5s;
	transform:rotate(180deg);
	
}
.drop-down div{
	border-bottom:2px solid #FFF;
}
.drop-down{
	
	width:120px;
	height:207px;
position:absolute;
bottom:-205px;
right:0;
background-color:green;
color:#FFF;
z-index:-1;
outline:1px solid #ccc;

}
.drop-down-item{
	width:120px;
height:40px;
text-align:center;
line-height:40px;
font-size:20px;
cursor:pointer;
z-index:9;

	
position:relative;
}
.drop-down-item:after{
content:'';
width:0;
height:0;
position:absolute;
border: 0px solid #666;
border-bottom:40px solid #666;
top:0px;
left:0px;	
transition:all 0.2s;	
z-index:-1;
}

.drop-down-item:hover:after{
border-bottom:40px solid #666;
border-left:120px solid #666;
transition:all 0.2s;	
	
}
.drop-down-item:hover{
color:#FFF;	
}
.detail_menu:hover .drop-down{
	transition:all 0s;
	color:#000;
background-color:#CCC;
	
}
.drop-down-menu{
position:relative;	

}
.add_drop_down{
	width:120px;
	height:334px;
position:absolute;
bottom:-334px
}
.detail_menu:after{
content:'';
width:0;
height:0;
position:absolute;
border: 0px solid #666;
border-left:120px solid #666;
top:0px;
left:0px;	
transition:all 0.2s;	

}

.detail_menu:hover:after{
border-bottom:40px solid #999;
border-left:120px solid #999;
transition:all 0.2s;	
z-index:-1;
}

.detail_menu:hover{
transition:all 0.2s;
color:white;
z-index:1;	
	
}
.detail_menu:hover a{
	color:#FFF;
	
}


	
	


.box_wc2{
width:380px;
height:220px;
border:1px solid #CCC;
	
transition:all 0.3s;
}
.img_wc1{margin-top:15px;
margin-left:15px;
	}

.box_wc1:hover,.box_wc2:hover  {
	transition:all 0.2s;
	box-sizing:border-box;
	    box-shadow: 5px 5px 22px rgba(0, 0, 0, 1);
cursor:pointer;
}
	.img_wc2{
	margin-left:15px;
	
	margin-top:15px;	
	}


footer{
width:100%;
background-color:#F1F1F1;
height:500px;
	
	
}
.footer-menu{

width:200px;
float:left;
margin-left:55px;
text-decoration:none;
margin-top: 15px;	
height:250px;
}
.footer-menu li {
text-decoration:none;	
list-style-type:none;
list-style-position:inside;
font-size:16px;
font-family: Verlag,Helvetica,Arial,sans-serif;
margin-top:7px;	
color:#737373;

}
.footer-menu li:hover{
color: #000;
cursor:pointer;	
}
.feedback{
width:200px;
height:100px;

padding-left:10px;
padding-top:10px;
background-color:#FBFBFB;	
margin-top:10px;
font-family: Helvetica,Arial,sans-serif;
font-size:15px;
transition-duration:0.5s;
transition-property:box-shadow;
}
.feedback:hover{
	
box-shadow:1px 2px 1px 1px #CCC ;
font-weight:none;
cursor:pointer;
}
.service {
clear:both;
margin-left:auto;
margin-right:auto;	
text-align:center;
padding-top:50px;
color:#999;


}
.service a{
	text-decoration:none;
	color:#999;
	font-size:16px;	
	margin:2px;	
}
.service a:hover{
	color:#666;
	text-decoration:underline;	
}
.icon-card {
text-align:center;
height:50px;
margin:30px auto;
}
.footer-bot{
	

margin:30px auto;
text-align:center;	
color:#999;
}
.footer-bot p{
font-size:14px;
}


.Register_table{
border:1px solid #ccc;
width:600px;
margin-left:20px;
float:left;
margin-top:25px;
	
}

.Register_table .title_register{
font-size:20px;
text-align:center;
color:#903;
font-weight:bold;
background: linear-gradient(#FFF, #CCC);
}
.Register_table td>input{
width:350px;
height:25px;	
	
}
.Register_table label{
font-size:16px;	
padding-left:5px;
}
.Register_table button{
height:38px;
width:105px;
margin-left:5px;	
background-color:#F90;
font-size:16px;
color:#003;
font-weight:600;
font-family:Verdana, Geneva, sans-serif ;
}
.Register_table button:hover{
background-color:#09C;	
}
 .Register_table .footter_form{
text-align:center;	
}
 .Register_table  i{
font-size:12px;
font-family:Verdana, Geneva, sans-serif;	
}


.hinh1{ position:absolute;
transition:all 1.5s;	
	transform:rotateY(0);

}
.hinh2{ position:absolute;
transition:all 1.5s;	
	transform:rotateY(90deg);
	
}

.map{
	position:relative;
height:560px;
width:600px;
margin-left:20px;
float:left;
margin-top:25px;		
}
.map:hover .hinh1{
transition:all 1.5s;	
	transform:rotateY(90deg)	;
	\
	cursor:pointer;
}
.map:hover .hinh2{
transition:all 1.5s;	
transform:rotateY(0)	;
\
}
#main_box{
height:830px !important;
}
	

