<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thang.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerMemM</servlet-name>
        <servlet-class>thang.controller.MainControllerMemM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerMemM</servlet-name>
        <servlet-class>thang.controller.SearchControllerMemM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerMemM</servlet-name>
        <servlet-class>thang.controller.DeleteControllerMemM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveControllerMemM</servlet-name>
        <servlet-class>thang.controller.ActiveControllerMemM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControllerMemM</servlet-name>
        <servlet-class>thang.controller.EditControllerMemM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControllerMemM</servlet-name>
        <servlet-class>thang.controller.UpdateControllerMemM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertControllerMemM</servlet-name>
        <servlet-class>thang.controller.InsertControllerMemM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImgController</servlet-name>
        <servlet-class>thang.controller.UploadImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControllerWepM</servlet-name>
        <servlet-class>thang.controller.MainControllerWepM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerWepM</servlet-name>
        <servlet-class>thang.controller.SearchControllerWepM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerWepM</servlet-name>
        <servlet-class>thang.controller.DeleteControllerWepM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveControllerWepM</servlet-name>
        <servlet-class>thang.controller.ActiveControllerWepM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControllerWepM</servlet-name>
        <servlet-class>thang.controller.EditControllerWepM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImgWepController</servlet-name>
        <servlet-class>thang.controller.UploadImgWepController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertControllerMWepM</servlet-name>
        <servlet-class>thang.controller.InsertControllerMWepM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertControllerMissM</servlet-name>
        <servlet-class>thang.controller.InsertControllerMissM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMissionTeam</servlet-name>
        <servlet-class>thang.controller.AddMissionTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberInTeam</servlet-name>
        <servlet-class>thang.controller.DeleteMemberInTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWeaponForTeam</servlet-name>
        <servlet-class>thang.controller.AddWeaponForTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWeaponForTeam</servlet-name>
        <servlet-class>thang.controller.GetWeaponForTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerMissM</servlet-name>
        <servlet-class>thang.controller.SearchControllerMissM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerMissM</servlet-name>
        <servlet-class>thang.controller.DeleteControllerMissM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControllerMissM</servlet-name>
        <servlet-class>thang.controller.EditControllerMissM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControllerMissM</servlet-name>
        <servlet-class>thang.controller.UpdateControllerMissM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateControllerWepM</servlet-name>
        <servlet-class>thang.controller.UpdateControllerWepM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllInfoMission</servlet-name>
        <servlet-class>thang.controller.GetAllInfoMission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWeaponForTeamUpdate</servlet-name>
        <servlet-class>thang.controller.GetWeaponForTeamUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMissionTeam</servlet-name>
        <servlet-class>thang.controller.UpdateMissionTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberInTeamUpdate</servlet-name>
        <servlet-class>thang.controller.DeleteMemberInTeamUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWeaponForTeam</servlet-name>
        <servlet-class>thang.controller.UpdateWeaponForTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMissionController</servlet-name>
        <servlet-class>thang.controller.LoadMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveController</servlet-name>
        <servlet-class>thang.controller.ReceiveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thang.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishController</servlet-name>
        <servlet-class>thang.controller.FinishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInformation</servlet-name>
        <servlet-class>thang.controller.EditInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfomation</servlet-name>
        <servlet-class>thang.controller.UpdateInfomation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadInfoImgController</servlet-name>
        <servlet-class>thang.controller.UploadInfoImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextController</servlet-name>
        <servlet-class>thang.controller.NextController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackController</servlet-name>
        <servlet-class>thang.controller.BackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerMemM</servlet-name>
        <url-pattern>/MainControllerMemM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerMemM</servlet-name>
        <url-pattern>/SearchControllerMemM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerMemM</servlet-name>
        <url-pattern>/DeleteControllerMemM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveControllerMemM</servlet-name>
        <url-pattern>/ActiveControllerMemM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControllerMemM</servlet-name>
        <url-pattern>/EditControllerMemM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControllerMemM</servlet-name>
        <url-pattern>/UpdateControllerMemM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertControllerMemM</servlet-name>
        <url-pattern>/InsertControllerMemM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImgController</servlet-name>
        <url-pattern>/UploadImgController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControllerWepM</servlet-name>
        <url-pattern>/MainControllerWepM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerWepM</servlet-name>
        <url-pattern>/SearchControllerWepM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerWepM</servlet-name>
        <url-pattern>/DeleteControllerWepM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveControllerWepM</servlet-name>
        <url-pattern>/ActiveControllerWepM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControllerWepM</servlet-name>
        <url-pattern>/EditControllerWepM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImgWepController</servlet-name>
        <url-pattern>/UploadImgWepController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertControllerMWepM</servlet-name>
        <url-pattern>/InsertControllerMWepM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertControllerMissM</servlet-name>
        <url-pattern>/InsertControllerMissM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMissionTeam</servlet-name>
        <url-pattern>/AddMissionTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberInTeam</servlet-name>
        <url-pattern>/DeleteMemberInTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWeaponForTeam</servlet-name>
        <url-pattern>/AddWeaponForTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWeaponForTeam</servlet-name>
        <url-pattern>/GetWeaponForTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerMissM</servlet-name>
        <url-pattern>/SearchControllerMissM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerMissM</servlet-name>
        <url-pattern>/DeleteControllerMissM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControllerMissM</servlet-name>
        <url-pattern>/EditControllerMissM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControllerMissM</servlet-name>
        <url-pattern>/UpdateControllerMissM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateControllerWepM</servlet-name>
        <url-pattern>/UpdateControllerWepM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllInfoMission</servlet-name>
        <url-pattern>/GetAllInfoMission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWeaponForTeamUpdate</servlet-name>
        <url-pattern>/GetWeaponForTeamUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMissionTeam</servlet-name>
        <url-pattern>/UpdateMissionTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberInTeamUpdate</servlet-name>
        <url-pattern>/DeleteMemberInTeamUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWeaponForTeam</servlet-name>
        <url-pattern>/UpdateWeaponForTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMissionController</servlet-name>
        <url-pattern>/LoadMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveController</servlet-name>
        <url-pattern>/ReceiveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishController</servlet-name>
        <url-pattern>/FinishController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInformation</servlet-name>
        <url-pattern>/EditInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfomation</servlet-name>
        <url-pattern>/UpdateInfomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadInfoImgController</servlet-name>
        <url-pattern>/UploadInfoImgController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextController</servlet-name>
        <url-pattern>/NextController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackController</servlet-name>
        <url-pattern>/BackController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
